body{
    background-color:orange;
    background-image: linear-gradient(to right,black ,orange);
   text-align:center;
}

.profile-picture{
    margin: 50px;
    width:200px;
    height:200px;
  border-radius: 100px;
}
.name{
    color:white;
    font-size:30px;
    margin-bottom:30px;
}
a{
    color:white;
}
.social-icon{
    color:white;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-bottom:30px;
    
}

.button{
    background-color:black;
    border:white solid 2px;
    margin:10px;
}